@import 'variables';

body {
  font: $font-size-base;
  line-height: 1.2;
  color: $color-primary;
}

img {
  height: auto;
  width: 100%;
}

h1 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.15rem;
  font-weight: 400;
}

.app__container {
  max-width: 1200px;
}
