// Colors
$color-secondary: #fff;
$color-primary: #000;
$color-description: #8E8888;

// FontSize
$font-size-base: 16px;
$font-size-title: 36px;
$font-size-button: 12px;

// Variables
$borderRadius: 2px;
$background-success: #e24d64;
$background-primary: #232447;
$background-gradient: linear-gradient(#3919dc, #010319);
$background: #c6c3c3;
